.collapse {
  overflow: hidden;
  height: 0;
  transition: all 600ms ease-in-out;

  &.in {
    height: auto;
  }
}

.wrapper {
  background-color: #f5f5f5;
  border: 1px solid #333;
}

.trigger {
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.inner {
  padding: 10px 20px;
  border-top: 1px solid #333;
}